/* src/pages/SignUpAnimations.css */

.slide-enter {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}

.slide-enter-active {
    max-height: 300px;
    opacity: 1;
    transition: max-height 300ms ease-out, opacity 300ms ease-out;
}

.slide-exit {
    max-height: 300px;
    opacity: 1;
    overflow: hidden;
}

.slide-exit-active {
    max-height: 0;
    opacity: 0;
    transition: max-height 300ms ease-in, opacity 300ms ease-in;
}
